<<<<<<< HEAD
#menu {
	background: #eb9dd3;
	background: linear-gradient(to bottom,  #d75adb,  #f096f3);
	color: #FFF;
	height: 45px;
	padding-left: 18px;
	border-radius: 10px;
	border: 2px solid #000000;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #FFFFFF;
	background: linear-gradient(to bottom,  #a75adb,  #d996f3);
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:linear-gradient(to bottom,  #d75adb,  #f096f3);position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}
html {
	background-image: url(images/bg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}
* {
	font-family: 'Roboto', sans-serif;
	font-size: large;
}
body {
	width: 900px;
	min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
    position: relative;
    background: #f7b2e2e3;
    box-shadow: black 0 2px 5px 0;
}
header {
	text-align: center;
}
h3 {
	text-align: center;
}
footer {
	text-align: right;
}
table {
	border-collapse: collapse;
	width: 50%;
	background-color: rgb(204, 121, 230);
	text-align: center;
	margin-left: 25%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

table caption {
	padding: 20px;
}
=======
#menu {
	background: #eb9dd3;
	background: linear-gradient(to bottom,  #d75adb,  #f096f3);
	color: #FFF;
	height: 45px;
	padding-left: 18px;
	border-radius: 10px;
	border: 2px solid #000000;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #FFFFFF;
	background: linear-gradient(to bottom,  #a75adb,  #d996f3);
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:linear-gradient(to bottom,  #d75adb,  #f096f3);position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}
html {
	background-image: url(images/bg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}
* {
	font-family: 'Roboto', sans-serif;
	font-size: large;
}
body {
	width: 900px;
	min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
    position: relative;
    background: #f7b2e2e3;
    box-shadow: black 0 2px 5px 0;
}
header {
	text-align: center;
}
h3 {
	text-align: center;
}
footer {
	text-align: right;
}
table {
    border-collapse: collapse;
    width: 50%;
    background-color: rgb(204, 121, 230);
    text-align: center;
    margin-left: 25%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  table caption {
      padding: 20px;
  }
>>>>>>> 8b9acc5e95894c141bc1793ab88b5463799a45fe
